* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Lato;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: rgb(34, 34, 34);
    height: 75px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img__logo {
    margin-right: 41px;
}

.img__contacts {
    margin-right: 33px;
    margin-left: 33px;
}

.top__content {
    height: 764px;
    background: rgb(241, 228, 230);
    justify-content: flex-start;
    margin-bottom: 64px;
}

.top__content_title {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    color: #222;
    width: 377px;
    height: 93px;
    text-align: left;
}

.top__content_title1 {
    font-size: 48px;
    font-weight: 900;
}

.top__content_title2 {
    font-size: 32px;
    font-weight: 700;
}

.clothes__section {
    flex-wrap: wrap;
    margin-bottom: 96px;
    gap: 30px;
}

.women_section, .men_section, .kids_section, .accesories_section {
    position: relative;
}

.promo_women, .promo_men, .promo_kids, .promo-accesories {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.promo {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.section_name {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.content {
    text-align: center;
    margin-bottom: 60px;
}

.content__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.content__text {
    color: rgb(159, 159, 159);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 6px;
    margin-bottom: 48px;
}

.items {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
}

.item {
    width: 360px;
    height: 581px;
    background-color: rgb(248, 248, 248);
}

.special {
    width: 360px;
    height: 411px;
    background-color: rgb(247, 228, 226);
    padding-top: 9px;
}

.item_info {
    padding: 24px 16px;
    text-align: left;
}

.item_title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.item_text {
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    padding-top: 13px;
    padding-bottom: 18px;
}

.price {
    color: rgb(241, 109, 127);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.button__browse_product {
    width: 212px;
    height: 48px;
    border-color: rgb(241, 109, 127);
    color: #F26376;
    background-color: white;
}


@media(min-width: 768px) and (max-width: 1199px) {
    .center {
        padding-left: calc(50% - 373px);
        padding-right: calc(50% - 373px);
    }

    .header {
        height: 74px;
    }

    .top__content {
        height: 368px;
    }

    .top__img {
        width: 386px;
        height: 368px;
    }

    .top__content_title2 {
        font-size: 26px;
    }

    .clothes__section {
        flex-wrap: wrap;
        margin-bottom: 110px;
        gap: 20px;
    }

    .section__img {
        width: 232px;
        height: 167px;
    }

    .section__img_accesories {
        width: 745px;
        height: 116px;
    }
    .content {
        margin-bottom: 70px;
    }

    .items {
        gap: 16px;
        margin-bottom: 33px;
    }

    .content__text {
        margin-bottom: 74px;
    }
}