* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Lato;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: rgb(34, 34, 34);
    height: 75px;
}

.header__right {
    max-width: 169px;
    height: 37px;
}

.dropdown {
    width: 33px;
    height: 33px;
}

.btn {
    border: none;
}

.dropdown-menu.show {
    transform: translate3d(0px, 55px, 0px) !important;
    border-radius: 0;
    --bs-dropdown-padding-y: 0;
    --bs-dropdown-item-padding-x: 0;
    font-family: Lato;
    --bs-dropdown-border-color: none;
    min-width: 232px;
    padding: 32px 0;
}

.dropdown_title {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    margin: 0 0 24px 33px;
}

.dropdown-item {
    margin-left: 32px;
    color: rgb(241, 109, 127);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    margin-bottom: 12px;
    max-width: 190px;
}

.dropdown-item:hover {
    background: none;
    color: rgb(241, 109, 127);
}

.dropdown-item_list {
    flex-direction: column;
    align-items: revert;
}

.list__item {
    color: rgb(111, 110, 110);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    align-items: revert;
    margin-left: 22px;
    margin-bottom: 11px;
    max-width: 160px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    vertical-align: revert;
}

.img__logo {
    margin-right: 41px;
}

.img__contacts {
    margin-right: 33px;
    margin-left: 33px;
}

.header__img:hover {
    cursor: pointer;
}

.top__content {
    height: 764px;
    background: rgb(241, 228, 230);
    justify-content: flex-start;
    margin-bottom: 64px;
}

.top__content_title {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    color: #222;
    width: 377px;
    height: 93px;
    text-align: left;
    line-height: 1;
}

.top__content_title1 {
    font-size: 48px;
    font-weight: 900;
}

.top__content_title2 {
    font-size: 32px;
    font-weight: 700;
}

.clothes__section {
    flex-wrap: wrap;
    margin-bottom: 96px;
    gap: 30px;
}

.women_section, .men_section, .kids_section, .accesories_section {
    position: relative;
}

.promo_women, .promo_men, .promo_kids, .promo-accesories {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    line-height: 0.5;
}

.promo {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.section__img_accesories {
    width: 100%;
}

.section_name {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.content {
    text-align: center;
    margin-bottom: 60px;
}

.content__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.content__text {
    color: rgb(159, 159, 159);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 6px;
    margin-bottom: 48px;
}

.items {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
}

.item {
    width: 360px;
    height: 581px;
    background-color: rgb(248, 248, 248);
    position: relative;
}

.item:hover::after {
    content: url(img/bucket.png) " Add to Card";
    position: absolute;
    width: 138px;
    height: 43px;
    left: 30%;
    top: 34%;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item:hover .item_img {
    filter: brightness(40%);
    cursor: pointer;
}

.item:hover .special {
    filter: brightness(40%);
    cursor: pointer;
}

.special {
    width: 360px;
    height: 411px;
    background-color: rgb(247, 228, 226);
    padding-top: 9px;
}

.item_info {
    padding: 24px 16px;
    text-align: left;
}

.item_title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.item_text {
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    padding-top: 13px;
    /* padding-bottom: 18px; */
}

.price {
    color: rgb(241, 109, 127);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.button__browse_product {
    width: 212px;
    height: 48px;
    border-color: rgb(241, 109, 127);
    color: #F26376;
    background-color: white;
    transition: all 0.4s;
}

.button__browse_product:hover {
    background: #F16D7F;
    color: white;
    cursor: pointer;
}

.conditions {
    height: 341px;
    background: rgb(34, 34, 36);
    justify-content: center;
    gap: 30px;
}

.condition__item {
    width: 360px;
    height: 134px;
    text-align: center;
}

h3 {
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
    height: 24px;
    margin-bottom: 16px;
}

.delivery_title {
    margin-top: 28px;
}

.sales_title {
    margin-top: 19px;
}

.assurance_title {
    margin-top: 25px;
}

.condition_text {
    color: rgb(251, 251, 251);
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}

.promotion {
    height: 448px;
    background: url(img/background_descktop.svg);
    justify-content: space-evenly;
}

.subscribes {
    width: 557px;
    height: 142px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.subscribe__title {
    color: rgb(34, 34, 36);
    font-size: 18px;
    font-weight: 400;
    line-height: 167%;
}

.email__area {
    width: 256px;
    height: 49px;
    background: rgb(225, 225, 225);
    border: none;
    margin-top: 16px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    padding: 0 22px;
    outline: none;
    cursor: pointer;
}

.email__area:active {
    border: none;
}


.email__button {
    width: 100px;
    height: 49px;
    background: rgb(241, 109, 127);
    justify-content: center;
    color: white;
    margin-top: 16px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}

.email__button {
    cursor: pointer;
}

.footer {
    height: 79px;
    background: rgb(34, 34, 36);
    padding: 0 232px;
    justify-content: space-between;
}

.footrer_text {
    color: rgb(251, 251, 251);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.social__icons {
    width: 32px;
    height: 32px;
    background: rgb(255, 255, 255);
    justify-content: center;
    margin: 5px;
}

.social__icons:hover {
    background: #F16D7F;
    cursor: pointer;
}

@media(max-width: 1024px) {
    .center {
        padding-left: calc(50% - 373px);
        padding-right: calc(50% - 373px);
    }

    .header {
        height: 74px;
    }

    .dropdown-menu.show {
        transform: translate3d(-61px, 54px, 0px) !important;
        inset: 0px auto auto 0px !important;
        /* min-width: 171px; */
    }

    .top__content {
        height: 368px;
    }

    .top__img {
        width: 386px;
        height: 368px;
    }

    .top__content_title2 {
        font-size: 26px;
    }

    .clothes__section {
        flex-wrap: wrap;
        margin-bottom: 110px;
        gap: 20px;
    }

    .section__img {
        width: 232px;
        height: 167px;
    }

    .section__img_accesories {
        width: 745px;
        height: 116px;
    }

    .content {
        margin-bottom: 70px;
    }

    .items {
        gap: 16px;
        margin-bottom: 33px;
    }

    .content__text {
        margin-bottom: 74px;
    }

    .conditions {
        height: 610px;
        gap: 48px;
        flex-direction: column;
    }

    .promotion {
        height: 614px;
        flex-direction: column;
        background: url(img/subscribe_tablet.png);
        background-size: cover;
        gap: 48px;
        padding-top: 64px;
        justify-content: flex-start;
    }

    .subscribes {
        width: 557px;
        height: 137px;
    }

    .email__area {
        width: 222px;
        height: 49px;
    }

    .email__button {
        width: 100px;
        height: 49px;
        font-size: 14px;
    }

    .footer {
        padding: 0 32px;
    }

}

@media(max-width: 767px) {
    .center {
        padding-left: calc(50% - 179px);
        padding-right: calc(50% - 179px);
    }

    .dropdown-toggle {
        white-space: wrap;
    }

    .btn {
        --bs-btn-padding-x: 0;
    }

    .top__content {
        height: 363px;
        justify-content: center;
    }

    img {
        vertical-align: baseline;
    }

    .img__contacts, .img__bucket, .top__img {
        display: none;
    }

    .dropdown-menu.show {
        transform: translate3d(-148px, 54px, 0) !important;
        inset: 0px auto auto 0px !important;
    }

    .top__content_title {
        width: 236px;
        height: 66px;
    }

    .top__content_title1 {
        font-size: 30px;
        font-weight: 900;
    }

    .top__content_title2 {
        font-size: 20px;
        font-weight: 700;
    }

    .clothes__section {
        gap: 32px;
        margin-bottom: 64px;
    }

    .section__img {
        width: 343px;
        height: 247px;
    }

    .section__img_accesories {
        width: 343px;
        height: 111px;
    }

    .content {
        margin-bottom: 85px;
    }

    .content__text {
        margin-top: 3px;
        margin-bottom: 65px;
    }

    .items {
        gap: 16px;
        margin-bottom: 41px;
    }

    .item {
        width: 359px;
        height: 579px;
    }

    .item_img {
        width: 359px;
        height: 418px;
    }

    .special {
        background-color: rgb(240, 236, 236);
    }

    .conditions {
        gap: 46px;
    }

    .delivery_title {
        margin: 27px 0 15px;
    }

    .sales_title {
        margin: 18px 0 14px;
    }

    .assurance_title {
        margin: 24px 0 14px;
    }

    .condition__item {
        width: 347px;
        height: 129px;
    }

    .condition_text {
        font-size: 15px;
    }

    .promotion {
        height: 550px;
    }

    .promotion_img {
        width: 343px;
        height: 194px;
    }

    .footer {
        height: 143px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .social {
        margin: 30px 0 40px;
    }

    .subscribes {
        width: 341px;
        height: 123px;
    }

    .subscribe__title {
        font-size: 14px;
    }

    .email__area {
        width: 201px;
        height: 47px;
    }

    .email__button {
        width: 96px;
        height: 47px;
    }

}